/* Create :hover content: attr(data-content) to dynamically populate the tooltip information
that will be pulled from plsql */


span.ql-picker-options>* {
    line-height: 1em;
}

.ql-dropdownContainer.ql-picker {
    width: fit-content;
    min-width: 200px;
    margin: 0 5px;
}

.ql-dropdownContainer.ql-picker.ql-expanded .ql-picker-item::before,
.ql-dropdownContainer.ql-picker .ql-picker-label::before {
    content: attr(data-content);
}

.ql-snow .ql-dropdownContainer .ql-picker-options .ql-picker-item::before {
    font-weight: 500;
}

.ql-picker-item {
    position: relative;
}

.ql-snow.ql-toolbar .ql-picker-item:hover:after {
    content: attr(data-tooltip);
    position: absolute;
    background: #0e0d0d;
    /* No Opacity */
    background-color: #0e0d0dc2;
    /* Opacity */
    color: whitesmoke;
    top: 0%;
    left: 105%;
    padding: 5px;
    border-radius: 6px;
}